body {
    margin: 0;
    padding: 0;
}

sidebar{
    display:flex;
    flex-direction: column;
    width: 40px;
    position:fixed;
    height:100vh;
    background-color: #353535;
    z-index:3;
}
i{
    cursor: pointer;
    user-select: none;
    padding: 8px;
    color: #7f7f7f;
    flex: 0 0 40px;

}
i:hover{
  color:rgb(224, 224, 224);
}
.bottom{
	font-size:20px;
	padding:10px;
}
spacer{
  height: 100%;
}

sidebar [type=radio] {
  display: none;
}
sidebar [type=radio]:checked + label {
  background: #4e7ea5;
}
sidebar [type=radio]:checked + label>i {
    color: rgb(224, 224, 224);
  }
main {
    left:40px;
    position: fixed;
    height: 100vh;
    width: calc( 100vw - 40px );
    z-index:1;
    display: flex;
}
leftmenu {
    flex: 0 0 200px;
    left:40px;
    height: 100vh;
    z-index: 2;
    margin-bottom: 100%;
    display:none;
}
leftmenu * {
    display: none;
    width: 100%;
    height: 100%;
}
layers{
		background: #262626;
		flex-direction: column;
}
header{
	display: inline;
	color: #b6b6b6;
	font-size: 12px;
	margin: 6px 0 6px 12px;
	font-family: monospace;
	font-weight: bold;
	cursor: default;
	user-select: none;
	text-transform: uppercase;
	flex: 0 0 12px;
}
accordion {
	display: block;
	text-transform: uppercase;
	color:rgb(223, 223, 223);
	padding: 0px 0 0px 18px;
	flex: 0 0 12px;
	font-family: monospace;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	background:rgb(90, 90, 90);
	letter-spacing: -1px;
}
search{
    background: #262626;
}
multiline_chart{
    background: #262626;
}
help{
    background: #262626;
}
settings {
    background: #262626;
}
map {
    height: 100vh;
    background-color: black;
    z-index: 2;
    clear: right;
    width: 100%;
}

